body {
  margin: 0;
}

.navigation {
  width: 100%;
  height: 100px;
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;


  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: start;
  }

  .navigation__logo {
    width: 100%;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
    }

    img.header_logo {
      position: relative;
      left: 10px;
    }
  }
}

.navigation__text {
  width: 50%;
  color: #ffffff;


  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

/* mobile view -navigation bar ends*/

/* Mobile view - Hero - starts */
.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;

  .hero__title {
    color: white;
    font-weight: 500;
    font-size: 60px;
    padding-left: 2rem;
    z-index: 1;
  }

  .hero__shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
  }
}

/* Mobile view - Hero - ends */

/* Desktop view - Hero - starts */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .hero__title {
      color: white;
      font-weight: 500;
      font-size: 64px;
      padding-left: 2rem;
      z-index: 1;
    }

    .hero__shade {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.3;
    }
  }
}

/* Desktop view - Hero - ends */

/* mobile view quote area - starts */
.quote {
  margin: 0 1rem;
}

.quote-title {
  font-family: "Avenir-normal";
  font-size: 5rem;
  margin: 2rem 0 1.5rem 0;
  height: 30%;
}

.quote__container-image {
  margin: 0 0 1.5rem 0;
}

.quote__image {
  height: auto;
  width: 100%;
}

.quote__sub-title {
  font-family: "Avenir Next Demi - 600";
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0 0 2rem 0;
}

.main__musicians {
  font-family: "Avenir-demi";
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}

.main__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
}

.main__description {
  font-family: avenir-regular;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* mobile view quote area - ends*/
/* Media query for Quote - Desktop View - starts */
@media only screen and (min-width: 768px) {
  .quote {
    margin: 0 1.5rem;
  }

  .quote-title {
    font-family: "Avenir-bold";
    font-size: 1.25rem;
    margin: 2rem 0 1.5rem 0;
  }

  .quote__container-image {
    margin: 0 0 1.5rem 0;
  }

  .quote__image {
    height: auto;
    width: 100%;
  }

  .quote__sub-title {
    font-family: "Avenir-demi";
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 0 2rem 0;
    width: 100%;
  }

  .main__musicians {
    font-family: "Avenir-demi";
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
  }

  .main__description-container {
    display: -webkit-box;
    display: -ms-flexbox;
  }

  .main__description {
    font-family: "Avenir-regular";
    font-size: 1.2rem;
    line-height: 1.375rem;
    margin: 2.5rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: wrap;
  }
}

/* Media query for Quote - Desktop View - ends */
/* Mobile view for gallery - starts*/

.gallery .h2 {
  margin: 5%;
  font-size: 2.5rem;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  &__list {
    width: 100%;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 768px) {
      justify-content: space-between;
      width: 30%;
    }
  }
}

/* Desktop view - Gallery - ends*/

/* Mbile view - Form - starts */

.comments {
  padding: 1em 1em 0.5em;
}

.comments__title {
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: #323232;
  font-size: 1.5rem;

}

.comments__section {
  display: flex;
  width: 80px;
  border-bottom: 1px solid #e1e1e1;
}

.comments__avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  margin-top: 1em;
  margin-right: 1.5em;
  border-radius: 50%;
}

.comments__label {
  display: inline-block;
  font-size: .985rem;
  font-weight: 700;
  color: #afafaf;
  margin-bottom: .6em;
}

.comments__input {
  height: 4.25;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #afafaf;
  color: #323232;
  border-radius: 4px;
  margin-bottom: .8em;
  box-sizing: border-box;
  padding: .7em;
}

.comments__input:focus {
  border-color: #323232;
  outline: none;
}

.comments__input:nth-child(2) {
  margin-bottom: 1em;
}

.comments__input::placeholder {
  color: #000000;
  font-weight: 400;
}

.comments__input::-moz-placeholder {
  color: #000000;
  font-weight: 400;
}

.comments__button {
  background-color: #323232;
  color: #ffffff;
  border: none;
  font-weight: 600;
  padding: .7em 5.75em;
  font-size: .875rem;
  border-radius: 4px;
  margin-bottom: 1em;
  width: 300px;
  height: auto;
}

.comments__button:hover {
  background-color: #000000;
}

.comments__content {
  display: flex;
  padding: .5em 0;
  border-bottom: 1px solid #e1e1e1;
}

.comments__item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: .5em;
  font-size: .8125rem;
  margin-left: 1em;
}

.comments__user {
  width: 40%;
}

.comments__date {
  width: 60%;
  text-align: end;
  color: #afafaf;
}

.comments__text {
  line-height: 150%;
}

.comments__img {
  margin-top: 2em;
  margin-right: 1.5em;
  border-radius: 50%;
  margin-top: .5em;
  height: 50px;
  width: 50px;
  padding: 1.2em;
  background-color: #e1e1e1;
  border-radius: 50%;
}

@media screen and (min-width:768px) {

  .commets {
    padding: 0 0 1em 3em;
  }

  .comments__title {
    font-weight: 900;
    line-height: 2.75em;
    margin-bottom: 0.8em;
    color: #323232;
    font-size: 3.25rem;
  }

  .comments__section {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 4.5em;
    margin-left: 1em;
    width: 40%;
  }

  .comments__avatar {
    width: 3em;
    height: 3em;
    border: 50%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
    margin-top: 1.6em;
  }

  .comments__label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: #afafaf;
    margin-bottom: .6em;
  }

  .comments__input {
    height: 3rem;
    padding: 1.3em;
  }

  .comments_input:nth-child(2) {
    margin-bottom: 1.4em;
  }

  .comments_input::-moz-placeholder {
    font-size: 14px;
  }

  .comments_input::placeholder {
    font-size: .875;
  }

  .comments_input:nth-child(4) {
    height: 6rem;
    padding-top: 1em;
    margin-bottom: 1.3em;
  }

  .comments__button {
    display: block;
    background-color: #323232;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: .7em 2rem;
    font-size: .875rem;
    border-radius: 4px;
    margin-bottom: 1em;
    width: 9.375rem;
    margin-left: auto;
    margin-bottom: 1.5em;
  }

  .comments_content {
    display: flex;
    padding: .5em 0;
    border-bottom: 1px solid #e1e1e1;
    margin: auto;
    width: 40%;
  }

  .comments__item {
    font-size: .875rem;
    margin-top: auto;
    padding: 1.2em 0 1em;
  }

  .comments__img {
    margin-top: 1em;
    height: 3em;
    width: 3em;
    padding: 1.5em;
    background-color: #e1e1e1;
    border: 50%;
  }


  /* Mobile view - Footer - Starts*/
  .footer {
    background-color: #323232;
    color: white;

    .footer {
      background-color: hsl(0, 0%, 20%);
      color: white;

    }

    .footer__links {
      flex-flow: row wrap;
      justify-content: space-between;

      h2 {
        font-size: 2rem;
      }
    }

    .agents-container {
      display: -webkit-box;
      display: -ms-flexbox;
    }

    .agent-contact {
      display: flex;
      flex-direction: Column;
    }

    .copyright-info {
      p {
        font-size: 0.7rem;
      }
    }

    .footer__logo-one {
      display: none;
    }

    footer__logo-two {
      display: flex;
    }


    /* Mobile View - Footer - Ends */

    /* Desktop View - Footer - Starts */
    @media only screen and (min-width: 768px) {
      .footer {
        background-color: hsl(0, 0%, 20%);
        color: white;
        /* margin-left: 5%; */

        div {
          margin: 16px;
        }
      }

      .footer__links {
        margin-left: 1%;
        align-items: flex-start;
        display: flex;
        flex-direction: row;

        h2 {
          font-size: 2rem;
        }
      }

      .agents-container {
        display: -webkit-box;
        display: -ms-flexbox;
      }

      .agent-contact {
        display: flex;
        flex-direction: row;
      }

      .copyright-info {
        p {
          font-size: 0.7rem;
        }
      }

      .footer__logo-one {
        display: flex;
      }

      .footer-logo-two {
        display: none;
      }
    }

    /* Desktop View - Footer - Ends */

    .img-container {
      display: flex;
      flex-wrap: wrap;
      padding: 36px;

      @media screen and (min-width: 768px) {
        justify-content: space-between;
      }

      &__list {
        width: 100%;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          justify-content: space-between;
          width: 30%;
        }
      }
    }
  }
}