body {
  margin: 0;
}

.navigation {
  width: 100%;
  height: 100px;
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-wrap: nowrap;
    justify-content: start;
  }
}
.navigation .navigation__logo {
  width: 100%;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navigation .navigation__logo {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.navigation .navigation__logo img.header_logo {
  position: relative;
  left: 10px;
}

.navigation__text {
  width: 50%;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* mobile view -navigation bar ends*/
/* Mobile view - Hero - starts */
.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.hero__container {
  display: flex;
  font-family: "Avenir-bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  width: 10%;
  line-height: 2rem;
  padding-left: 20px;
  margin-right: 20px;
}

.hero__title-song {
  position: relative;
  right: 100px;
}

/* Mobile view - Hero - ends */
/* Desktop view - Hero - starts */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: left;
    align-items: center;
    position: relative;
  }
  .hero__title {
    font-family: "Avenir-bold";
    color: #FFFFFF;
    font-size: 1.3rem;
    width: 13rem;
    line-height: 2rem;
    padding-left: 16px;
  }
  .hero__title-sub {
    font-family: "avenir-bold";
    color: #FFFFFF;
    font-size: 1.3rem;
    width: 13rem;
    line-height: 2rem;
    padding-left: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__title-song {
    position: relative;
    left: 750px;
  }
}
/* Desktop view - hero - ends */
/* Mobile view - table - starts */
.shows {
  padding: 1.5em 0em 1em;
}

.shows__title {
  padding: 0.3em 0.6em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.shows__list {
  font-size: 0.75rem;
  text-align: center;
  margin: 1em 0;
  border-bottom: 1px solid #e1e1e1;
}

.show__item {
  text-align: start;
  margin: 0.6em 1.3em 0.85em;
}

.shows__detail {
  font-size: 13px;
}

.shows__button {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0.6em 0em 1em 0em;
  padding: 0 7.2em;
  border: none;
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
  transition: 0.2s linear;
}

.shows__button:hover {
  background-color: black;
}

.shows__header {
  margin-bottom: 0.3em;
  font-size: 0.625rem;
  font-weight: 700;
  list-style: 20px;
  color: #afafaf;
}

.shows__block {
  display: none;
}

/* Mobile view - table - ends */
/* Desktop view - table - starts */
@media screen and (min-width: 768px) {
  .show {
    padding: 3dm 1em 0;
    max-width: 768px;
    margin: 0 auto;
  }
  .shows__title {
    font-size: 2.25rem;
    padding: 0.6em;
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.2em;
  }
  .shows__list {
    display: flex;
    align-items: center;
    margin: 1.3em 0;
  }
  .show__item {
    width: 19%;
    margin-left: 1.9em;
  }
  .shows__detail {
    font-size: 0.875rem;
    font-weight: 400;
    padding-bottom: 0.7rem;
  }
  .shows__item--mod {
    font-weight: 700;
  }
  .shows__detail--right {
    margin-right: 1.5em;
  }
  .shows__button {
    font-size: 0.9rem;
    width: 9.375rem;
    padding: 0 1.3rem;
    margin: 0 1.3em 1.1em 2.1em;
  }
  .shows__button:hover {
    background-color: black;
  }
  .shows__header {
    display: none;
  }
  .shows__block {
    display: flex;
    justify-content: space-between;
    margin-left: 1.8em;
    width: 64.5%;
    font-size: 13px;
    line-height: 1.125rem;
    font-weight: 400;
    color: #afafaf;
  }
  .shows__heading {
    width: 25%;
    font-size: 0.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .show {
    max-width: 100%;
  }
  .shows__title {
    margin: 0 0 0.8em 3em;
  }
  .shows__list {
    justify-content: space-between;
    width: 63.5%;
    margin-left: auto;
    margin-right: 9em;
  }
  .shows__detail--mod {
    font-weight: 700;
  }
  .shows__heading--left {
    width: 15%;
    margin: 0 0em 0 0.2em;
  }
  .shows__heading--right {
    margin-right: 1.9em;
  }
  .shows__block {
    display: flex;
    justify-content: space-between;
    margin-left: 1.8em;
    width: 64.5%;
    font-size: 20px;
    line-height: 1.125rem;
    font-weight: 400;
    color: #afafaf;
  }
}
/* Mobile view - Footer - Starts*/
.footer {
  background-color: #323232;
  color: white;
}
.footer div {
  margin: 16px;
}

.footer__links {
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer__links h2 {
  font-size: 2rem;
}

.agents-container {
  display: -ms-flexbox;
}

.agent-contact {
  display: flex;
  flex-direction: Column;
}

.copyright-info p {
  font-size: 0.7rem;
}

.footer__logo-one {
  display: none;
}

footer__logo-two {
  display: flex;
}

/* Mobile View - Footer - Ends */
/* Desktop View - Footer - Starts */
@media only screen and (min-width: 768px) {
  .footer {
    background-color: hsl(0, 0%, 20%);
    color: white;
  }
  .footer div {
    margin: 4px;
  }
  .footer__links {
    margin-left: 1%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }
  .footer__links h2 {
    font-size: 2rem;
  }
  .agents-container {
    display: -ms-flexbox;
  }
  .agent-contact {
    display: flex;
    flex-direction: row;
  }
  .copyright-info p {
    font-size: 0.7rem;
  }
  .footer__logo-one {
    display: none;
  }
  .footer-logo-two {
    display: flex;
  }
}
/* Desktop View - Footer - Ends */
.img-container {
  display: flex;
  flex-wrap: wrap;
  padding: 36px;
}
@media screen and (min-width: 768px) {
  .img-container {
    justify-content: space-between;
  }
}
.img-container__list {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .img-container__list {
    justify-content: space-between;
    width: 30%;
  }
}/*# sourceMappingURL=shows.css.map */